/*!  bbGrid.css 0.6.4
*
*     (c) 2012-2013 Minin Alexey, direct-fuel-injection.
*     bbGrid may be freely distributed under the MIT license.
*     For all details and documentation:
*     http://direct-fuel-injection.github.com/bbGrid/
 */
.bbGrid-grid { table-layout: fixed; font-size: 11px }
.bbGrid-grid td{ cursor: default; line-height: 1.3em; overflow: hidden;white-space:nowrap; }
.bbGrid-grid tr{height:1em;}
.bbGrid-grid .bbGrid-grid-head{font-size: 12px;background-color: #F5F5F5;cursor: pointer}
.bbGrid-grid .bbGrid-grid-head th{overflow: hidden;}
.bbGrid-grid .bbGrid-grid-head i{ float: right}
.bbGrid-grid .bbGrid-grid-head .bbGrid-filter-bar input,.bbGrid-grid .bbGrid-grid-head .bbGrid-filter-bar select{display: block;padding: 0; margin: 0px; font-size: 12px; width:100%; height: 22px}
.bbGrid-grid .bbGrid-grid-head .bbGrid-filter-bar select{height: 24px;padding:2px 2px;}
.bbGrid-grid .bbGrid-actions-cell { padding: 2px 5px; text-align: center}
.bbGrid-grid .bbGrid-subgrid-control { padding: 2px 5px; text-align: center}
.bbGrid-grid .bbGrid-multiselect-control input{margin: 0}
.bbGrid-container {width: auto; display:inline; }
.bbGrid-container .bbGrid-loading{ margin: 6px 0 2px 40%;width: 20% }
.bbGrid-container .bbGrid-loading .bbGrid-loading-progress{ width: 100%; line-height: 20px}
.bbGrid-container .table{ margin: 0 }
.bbGrid-container .bbGrid-pager-container{height: 26px; width: 380px; left: 50%; margin-left:-190px; position: absolute}
.bbGrid-container .bbGrid-pager-container-norowslist{width: 200px; margin-left:-100px}
.bbGrid-container .bbGrid-grid-nav{ margin: 0; background-color: #F5F5F5; background-repeat: repeat-x; border-color:#A2A2A2; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2; border-image: none; -webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px; border-style: solid; border-width: 1px; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); color: #333333; padding: 0 0 1px 1px; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; position: relative; height: 32px}
.bbGrid-container .bbGrid-subgrid-row:hover{ background-color: transparent}
.bbGrid-container .bbGrid-pager{ margin: 2px 0 0; cursor: pointer}
.bbGrid-container .bbGrid-pager .nav{ margin: 5px 0 0 0; padding: 0}
.bbGrid-container .bbGrid-pager i{ margin: 0}
.bbGrid-container .bbGrid-pager a{margin: 0 1px; padding: 4px; border: 1px solid #CCCCCC}
.bbGrid-container .bbGrid-pager a:hover{background-color: #FAF2CC;}
.bbGrid-container .bbGrid-pager a:active{box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);}
.bbGrid-container .bbGrid-pager li.active a{ background-color:#F5F5F5}
.bbGrid-container .bbGrid-pager li.active a:active{box-shadow: none;}
.bbGrid-container .bbGrid-page-counter {font-size: 11px; line-height:16px; padding: 2px 0px 0px 4px}
.bbGrid-container .bbGrid-page-counter-right {font-size: 11px; line-height:16px; padding: 2px 2px 0px 4px}
.bbGrid-container .bbGrid-grid-nav .bbGrid-page-input{float: left; position:relative; padding: 1px; top:-2px; margin: 0 0 0 1px; width: 30px; font-size: 11px; text-align: center }
.bbGrid-navBar-buttonsContainer {margin: 2px 0 0}
.bbGrid-navBar-buttonsContainer button{margin-right: 1px}
.bbGrid-container .bbGrid-grid-nav .bbGrid-pager-rowlist {width: 56px; margin-top: 5px; margin-left:2px; padding: 3px 2px; height: 24px; font-size: 11px}
.bbGrid-pager-container .bbGrid-pager ul li {list-style:none;padding-left: 0;}
.bbGrid-container .bbGrid-pager-rowlist-label {line-height: 25px; font-size: 11px; margin-top:2px; padding: 2px 0px 0px 4px}
.bbGrid-grid tbody tr.bbGrid-row:hover td{background-color:#f5f5f5;}
.bbGrid-grid tbody tr.success:hover td{background-color:#d0e9c6;}
.bbGrid-grid tbody tr.error:hover td{background-color:#ebcccc;}
.bbGrid-grid tbody tr.warning:hover td{background-color:#faf2cc;}
.bbGrid-grid tbody tr.info:hover td{background-color:#c4e3f3;}
.bbGrid-grid caption{font-size: 1.4em;font-weight: bold;line-height: 2em}
.bbGrid-search-bar {padding: 2px}
.bbGrid-search-bar input, .bbGrid-search-bar button{padding: 1px 6px;}
.bbGrid-search-bar input{ font-size: 12px}
.bbGrid-search-bar li > a{font-size: 12px; padding-top: 1px; padding-bottom: 1px}
