@CHARSET "ISO-8859-1";

.flot_tip{
	position: absolute;
	display: none;
	padding: 2px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5BC0DE;
	*background-color: #5BC0DE;
	background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
	background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
	background-repeat: repeat-x;
	border-color: #2F96B4 #2F96B4 #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5BC0DE', endColorstr='#ff2F96B4', GradientType=0);
  	-webkit-border-radius: 4px;
    	-moz-border-radius: 4px;
        	border-radius: 4px;	
	z-index: 10001;	
}

.flot_box {
	position: relative;
	display: inline-block;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flot_box .form-container {
	padding: 5px;
	margin-bottom: 10px;
	-webkit-border-radius: 0 0 4px 4px;
    	-moz-border-radius: 0 0 4px 4px;
        	border-radius: 0 0 4px 4px;
}

.flot_box .header {
	height: 46px;
	padding: 2px 0;
	width: 100%;
	position: relative;
	display: inline-block;	
	
}

.flot_overview {
	height: 100px; 
	padding: 0px; 
	position: relative;
}

.tickLabel {
	overflow:hidden;	
	white-space:nowrap;
	text-overflow:ellipsis;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;	
	height:22px;
	padding: 0 10px;
	z-index: 1000;
}

.tickLabel:hover {
	display: block;
	overflow: visible;	
	color: #ffffff;	
	white-space: normal;
	text-overflow: auto;
	height: auto;
	width: auto;
	padding: 0 2px;
	background-color: #5BC0DE;
	*background-color: #5BC0DE;
	background-image: -moz-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5BC0DE), to(#2F96B4));
	background-image: -webkit-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: -o-linear-gradient(top, #5BC0DE, #2F96B4);
	background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
	background-repeat: repeat-x;
	border-color: #2F96B4 #2F96B4 #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5BC0DE', endColorstr='#ff2F96B4', GradientType=0);
	border: 2px solid #5bc0de;
  	-webkit-border-radius: 4px;
    	-moz-border-radius: 4px;
        	border-radius: 4px;	
	z-index: 1001;	
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
    box-sizing: content-box;	
}