@CHARSET "ISO-8859-1";
body {
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	width:100%;
	height:100%;
	font-size: 11px;
	background:none;
	color: #3e3e3e;
	background-color:#f8f7f7;
	overflow-x:hidden;	
}

html {
	text-align:center;
	margin: 0px;
	height: 100%;
	width:100%;
	background-color:#f8f7f7;
}

.wrapper {
	position:relative;
	align:center;
	width:100%;
	height:100%;
	padding:0px;
	height:auto;
	margin:0 auto;
	background:none;
}

.navbar-inverse .navbar-inner {
	border: 1px solid #ccc;
	border-color: #0044CC #0044CC #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	
	background-color: #006DCC;
	background-image: -moz-linear-gradient(top, #0088CC, #0044CC); /* Firefox 3.6 */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0044CC));
    background-image: -webkit-linear-gradient(top, #0088CC, #0044CC); /* Safari 5.1+, Chrome 10+ */
	background-image: -o-linear-gradient(top, #0088CC, #0044CC); /* Opera 11.10+ */
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);/* CSS3 Compliant */
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#0044CC', GradientType=0); /* IE8 */
	
	border-color: #0044CC #0044CC #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05); /* Safari 4 */
	-moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05); /* Firefox 3.6 */
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05);
	
	-webkit-transition: 0.1s linear background-image;
	-moz-transition: 0.1s linear background-image;
	-o-transition: 0.1s linear background-image;
	transition: 0.1s linear background-image;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width:990px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background:none;
	background-color: none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #ffffff;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
	border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background:none;
	background-color: none;
}
.navbar .brand {
	padding: 0px 20px;
}
.navbar a.brand {
	padding: 10px 20px;
}
.nav li {
	margin-top:0;
}
.nav li a {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);	
}
.dropdown-menu li a {
	text-shadow: none;
	text-align: left;
}
.navbar .divider-vertical {
    border-left: 1px solid #0d57b1;
    border-right: 1px solid #2066bc;
    height: 40px;
    margin: 0;
}

.header_bar {
	position:relative;
	align:center;
	width:100%;
	padding:0px;
	margin:42px auto 0 auto;
	border: 1px solid #ccc;
	border-color: #294e98 #294e98 #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	
	background-color: #2176c1;
	background-image: -moz-linear-gradient(top, #1f97d9, #294e98); /* Firefox 3.6 */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f97d9), to(#294e98));
    background-image: -webkit-linear-gradient(top, #1f97d9, #294e98); /* Safari 5.1+, Chrome 10+ */
	background-image: -o-linear-gradient(top, #1f97d9, #294e98); /* Opera 11.10+ */
    background-image: linear-gradient(to bottom, #1f97d9, #294e98);/* CSS3 Compliant */
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f97d9', endColorstr='#294e98', GradientType=0); /* IE8 */
	
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05); /* Safari 4 */
	-moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05); /* Firefox 3.6 */
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05);
	
	-webkit-transition: 0.1s linear background-image;
	-moz-transition: 0.1s linear background-image;
	-o-transition: 0.1s linear background-image;
	transition: 0.1s linear background-image;
}

.header {
	position:relative;
	overflow: hidden;
	padding: 0px;
	margin: 0px auto;
	width:990px;
	height:17px;
	height: auto;
	text-align:left;
	background:none;
}

.exit {
	float:right;
	position:relative;
	overflow: hidden;
	padding: 0px;
	margin: 13px 8px 0 0;
	width:145px;
	height: 26px;
	text-align:left;
	background:none;
	cursor:pointer;
}

.header-unit {
	position:relative;
	overflow: hidden;
	padding: 10px 0px 20px 0px;
	margin: 0px auto;
	width:840px;
	height: auto;
	text-align:left;
	background:none;
}

.header-unit h1 {
	color: #FFFFFF;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

.header-unit p {
	color: #FFFFFF;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
	font-size:18px;	
}

.header-unit .text {
	float:left;
	position:relative;
	width: 550px;
}

.header-unit .actions {
	float:right;
	position:relative;
	width: 280px;
	color: #FFFFFF;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
	font-size:200px;
	padding: 0;
}

img.brand {
	width: 100px;
	height: 43px;
}

.main {
	position:relative;
	overflow: hidden;
	padding: 10px 30px;
	margin: 0px auto;
	width:990px;
	height: auto;
	text-align:left;
	background:none;
}

.main.index {
	padding: 0;
	width:990px;
}

.content {
	float:left;
	position:relative;
	overflow: hidden;
	padding: 10px 50px;
	margin: 0px;
	width:930px;
	height: auto;
	text-align:left;
	background:none;
}

h1 {
	font-size: 38px;
}

.question_surround {
	position:relative;
	overflow: hidden;
	padding: 0;
	margin: 0px auto;
	width:930px;
	height: auto;
	text-align:left;
	background:none;
}

.question {
	float:left;
	position:relative;
	overflow: hidden;
	padding: 10px 15px;
	margin: 0px auto;
	width:898px;
	height: auto;
	text-align:left;
	background:none;
	background-color:#eeeeee;
	border:1px solid #cfcfcf;
}

.question_hr {
	float:left;
	position:relative;
	overflow: hidden;
	height:18px;
	padding: 0;
	width:930px;
	background:none;
	margin:20px 0;
}

.question_text {
	margin:0;
	font-size:1.5em;
	line-height:1.5em;
	padding: 0 0 5px 0;
	position:relative;
	overflow: hidden;
	width:100%;
	height: auto;
	text-align:left;
	background:none;
}

.question_info {
	margin:0;
	font-size:1.2em;
	line-height:1.2em;
	padding: 0 0 5px 0;
	color:#525151;
	position:relative;
	overflow: hidden;
	width:100%;
	height: auto;
	text-align:left;
	background:none;
}

.question_answer {
	padding:5px 0;
	position:relative;
	overflow: hidden;
	width:100%;
	height: auto;
	text-align:left;
	background:none;
}

.question_answer_box {
	width:883px;
}

.index_box {
	float:left;
	position:relative;
	overflow: hidden;
	padding: 5px 40px;
	margin: 0px auto;
	width:612px;
	height: 288px;
	text-align:left;
	background:none;
	background-image: url('/images/index-box-bg.png');
	border: 1px solid #616161;
	border-top:none;
}

.survey_box {
	float:left;
	position:relative;
	overflow: hidden;
	padding: 5px 10px;
	margin: 0 0 0 10px;
	width:262px;
	height: 288px;
	text-align:left;
	background:none;
	background-image: url('/images/index-box-bg.png');
	border: 1px solid #616161;
	border-top:none;
}

hr.symbol {
    padding: 0;
    border: none;
    border-top: medium double #d3d3d3;
    color: #d3d3d3;
    text-align: center;
	margin: 8px 0;
}

.dialog_1 {
	display:none;
	overflow:hidden;
}

.ui-dialog-content .ui-widget-content {
	align:center;
	position:relative;	
	width:100%;
}

.white .ui-icon {
	background-image: url("custom-theme/images/ui-icons_ffffff_256x240.png");
}

[data-role="acknowledge-input"] .add-on i {
    position: relative;
    top: 3px;
}

.index_third {
	display: inline-block;
	position:relative;
	overflow: hidden;
	padding: 0px;
	margin: 10px 0 0 0;
	width:300px;
	height: 132px;
	text-align:left;
	background-color: #c9c8c8;
	border: 1px solid #c0bfbf;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	behavior: url('/library/jscript/PIE.htc');
}

.browser {
	background-image:url('/images/browsers.png');
	background-repeat: no-repeat;
	background-position: center center;
}

.browser-icon {
	display: inline-block;
	width: 127px;
	height: 135px;
	margin: 0 3px 0 0;	
}

.chrome_frame {
	background-image: url(/images/chrome_frame.png);
}

.chrome {
	background-image: url(/images/chrome.png);
}

.firefox {
	background-image: url(/images/firefox.png);
}

.opera {
	background-image: url(/images/opera.png);
}

.safari {
	background-image: url(/images/safari.png);
}

.browser_text {
	font-size:30px;
	line-height:28px;	
	margin: 30px 0;
}

.qtip-rmg-blue.qtip-shadow {
	border: 1px solid #6d6d6d;
}
	.qtip-rmg-blue .qtip-titlebar {
		background: none;
		background-color: #006DCC;
		background-image: -moz-linear-gradient(top, #0088CC, #0044CC); /* Firefox 3.6 */
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0044CC));
		background-image: -webkit-linear-gradient(top, #0088CC, #0044CC);
		background-image: -o-linear-gradient(top, #0088CC, #0044CC);
		background-image: linear-gradient(to bottom, #0088CC, #0044CC);
		-pie-background: linear-gradient(#0088CC, #0044CC);	
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#0044CC', GradientType=0); /* IE8 */		
		background-repeat: repeat-x;
		-webkit-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
		-moz-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
		box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
		color: #ffffff;	
	}

	.qtip-rmg-blue .qtip-icon {
		border-color: #444;
	}
	
	.qtip-rmg-blue .qtip-content {
		background-color: #ffffff;
	}

	.qtip-rmg-blue .qtip-titlebar .ui-state-hover {
		border-color: #303030;
	}