/* Selectors */ 
#no_results_row {
	display:none;
}

.selector_buttons {
	display: inline-block;
	padding:0;
	width:auto;
	margin:0;
	position: relative;	
	vertical-align:middle;	
}

.selector_block {
	display: inline-block;
	padding:0;
	width:auto;
	margin:0;
	position: relative;
}

.selector_buttons .ui-button {
	margin:0 1px 0 0;
}

.ui-blue {
	color:#8c8a8c;
	display: inline-block;	
	width:22px;
	vertical-align:middle;
	height:18px;
	text-align:center;
	margin:0;
}

.ui-blue i {
	margin-top: 2px;
	display:inline-block;
}

.selector_buttons .ui-blue:hover {
	color:#242224;
}

.selector_waiting {
	float:left; 
	padding-top:50px; 
	text-align:center; 
	width:100%;
}

.ui-blue-text {
	display: inline-block;	
	padding:0px;
	min-height: 26px;
	line-height:26px;
	margin: 0 0 0 12px;
	position: relative;
	overflow: hidden;	
	vertical-align:middle;	
}

.ui-blue-colour-blob, .ui-blue-small-colour-blob {
	float:left;
	display: inline-block;
	padding:0px;
	height: 18px;
	width: 30px;
	margin:0 12px 0 0;
	position: relative;
	overflow: hidden;
	border:1px solid #c2c2c2;
	
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/css/PIE.php);
}

.ui-blue-small-colour-blob {
	height: 10px;
}

.ui-button .ui-icon-cal {
    background-image: url(/css/custom-theme/images/cal-icon.png);
	background-position: 0 1px;
}
.ui-button.ui-state-hover .ui-icon.ui-icon-cal {
    background-image: url(/css/custom-theme/images/cal-icon-hover.png);
}

.ui-button .ui-icon-list {
    background-image: url(/css/custom-theme/images/list-icon.png);
	background-position: 0 1px;
}
.ui-button.ui-state-hover .ui-icon.ui-icon-list {
    background-image: url(/css/custom-theme/images/list-icon-hover.png);
}

.ui-button .ui-icon-info2 {
    background-image: url(/css/custom-theme/images/info-icon.png);
	background-position: 0 1px;
}
.ui-button.ui-state-hover .ui-icon.ui-icon-info2 {
    background-image: url(/css/custom-theme/images/info-icon-hover.png);
}

.ui-blue.ui-state-default { 
	border:1px solid #5c99d6;
	background: #ffffff url(/css/custom-theme/images/ui-bg_glass_75_f6f6f6_1x400.png) 50% 50% repeat-x;
}

.ui-blue.ui-state-hover { 
	border:1px solid #5c99d6;
	background: #ffffff url(/css/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
}

.tickbox {
	vertical-align: middle;		
}

.jButton.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only  {
	font-size:1em;
	font-size:12px;
	text-shadow: none;
}

.jButton i {
	font-size:14px;
}

div.ui-blue [class^="icon-"], div.ui-blue [class*=" icon-"] {
    display: inline-block;
	margin-top:2px;
}

.record_heading {
	position:relative;
	overflow:hidden;
	min-height: 20px;
	
	text-shadow: 0 1px 0 #000000;
	background: none;
	background-color: #0088CC;
	*background-color: #0044CC;
	background-image: -moz-linear-gradient(top, #0088CC, #0044CC);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0044CC));
	background-image: -webkit-linear-gradient(top, #0088CC, #0044CC);
	background-image: -o-linear-gradient(top, #0088CC, #0044CC);
	background-image: linear-gradient(to bottom, #0088CC, #0044CC);
	-pie-background: linear-gradient(#0088CC, #0044CC);	
	background-repeat: repeat-x;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2); /* Safari 4 */
	-moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2); /* Firefox 3.6 */
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2);
	
	font-weight:bold;	
	color:#fff;
	padding:10px;
	margin:0;
	height: auto;
	
	z-index: 0;
	
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.record_heading div.full {
	float:left;
	font-size:12px;
	width:100%;
	height: auto;
	min-height:20px;
	line-height: 20px;
	padding:0;
	margin:0;
	text-transform:capitalize;	
	text-align: left;
}

.record_heading div.left {
	float:left;
	font-size:12px;
	width:430px;
	height:20px;
	line-height: 20px;
	padding:0;
	margin:0;
	text-transform:capitalize;	
	text-align: left;
}

.record_heading div.right {
	float:right;
	font-weight:normal;
	text-align:right;
	font-size:12px;
	width:200px;
	height:20px;
	line-height: 20px;	
	font-weight:normal;
	padding:0;
	margin:0;
}

.loading_msg_1 {
	display:none;
	padding-top:4px;
	padding-left:22px;
	background-image:url(/images/ajax-loader.gif);
	background-repeat:no-repeat;
	background-position:left;
	height:16px;
}