body {
	text-align: center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	margin:0px;
	width:100%;
	height:100%;
	font-size: 12px;
	background:none;
	color: #3e3e3e;
	background-color:#f8f7f7;
	overflow-x:hidden;	
}

html {
	text-align:center;
	margin: 0px;
	height: 100%;
	width:100%;
	background-color:#f8f7f7;
}

textarea {
	height: 220px;
}

img.brand {
	width: 100px;
	height: 43px;
}

.button_group {
	padding-bottom:15px;
}

.button_group span.label {
	margin-top: 6px;
}

.button_group_inner {
	padding-bottom:30px;
}

p {
	text-align:left;
	font-size:12px;
	line-height:16px;
}

#breadcrumbs_container {
	padding:0;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	background-color: none;	
	font-size:11px;
}
.breadcrumb {
	padding:0;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	background: none;	
}

#questions-div {
	padding-bottom:20px;
}

#question-tabs {
	padding-top:0;
}

.ui-tabs {
	background:none;
	margin:0;
}
.ui-tabs .ui-tabs-nav {
	background-color:#none;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	margin:0px 10px -1px 10px;
	padding:0px;
}

.ui-tabs .ui-tabs-panel {
	border:1px solid #ccc;
	background-color:#f1f1f1;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	margin-top:0;
}

.controls {
	text-align: left;
}

/*
.ui-tabs .ui-tabs-nav li.ui-state-default a {
	color: #333;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	background-color: #F5F5F5;
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); 
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6); 
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); 
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); 
	background-repeat: no-repeat;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0); 
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05); 
	-moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05); 
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear background-image;
	-moz-transition: 0.1s linear background-image;
	-o-transition: 0.1s linear background-image;
	transition: 0.1s linear background-image;
}

.ui-tabs .ui-tabs-nav li.ui-state-default a:hover {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05); 
	-moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05); 
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear background-image;
	-moz-transition: 0.1s linear background-image;
	-o-transition: 0.1s linear background-image;
	transition: 0.1s linear background-image;
}
*/

/*
.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-tabs-active a:hover {
	color:#fff;
	border: 1px solid #ccc;
	border-color: #0044CC #0044CC #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-color: #006DCC;
	background-image: -moz-linear-gradient(top, #0088CC, #0044CC); 
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0044CC));
    background-image: -webkit-linear-gradient(top, #0088CC, #0044CC);
	background-image: -o-linear-gradient(top, #0088CC, #0044CC); 
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#0044CC', GradientType=0); 
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05); 
	-moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05); 
	box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear background-image;
	-moz-transition: 0.1s linear background-image;
	-o-transition: 0.1s linear background-image;
	transition: 0.1s linear background-image;
}
*/

.ui-tabs .ui-tabs-nav li.ui-state-default a {
	color:#333;
	background-color:#fff;
	margin-bottom:-1px;
	border:1px solid #ccc;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover a {
	background-color:#fafafa;
	margin-bottom:-1px;
	border-bottom:1px solid #ccc;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
	border-bottom:1px solid #f1f1f1;
	background-color:#f1f1f1;
	font-weight:bold;
	margin-bottom:-2px;
}

.navbar-inverse .navbar-inner {
	border: 1px solid #ccc;
	border-color: #0044CC #0044CC #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	
	background-color: #006DCC;
	background-image: -moz-linear-gradient(top, #0088CC, #0044CC); 
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0044CC));
    background-image: -webkit-linear-gradient(top, #0088CC, #0044CC); 
	background-image: -o-linear-gradient(top, #0088CC, #0044CC); 
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#0044CC', GradientType=0); 
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3), 0 2px 2px rgba(0, 0, 0, 0.05); 
	-moz-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3), 0 2px 2px rgba(0, 0, 0, 0.05); 
	box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3), 0 2px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear background-image;
	-moz-transition: 0.1s linear background-image;
	-o-transition: 0.1s linear background-image;
	transition: 0.1s linear background-image;	
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width:990px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
	background:none;
	background-color: none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {	
	-webkit-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3) 0 1px 10px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3) 0 1px 10px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3) 0 1px 10px rgba(0, 0, 0, 0.1);	
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	color: #ffffff;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
	border-bottom-color: #ffffff;
    border-top-color: #ffffff;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background:none;
	background-color: none;
}
.navbar {
	margin:0;
}
.navbar .brand {
	padding: 0px 20px;
}
.navbar a.brand {
	padding: 10px 20px;
}
.nav li {
	margin-top:0;
}
.nav li a {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);	
}
.dropdown-menu li a {
	text-shadow: none;
	text-align: left;
}
.navbar .divider-vertical {
    border-left: 1px solid #0d57b1;
    border-right: 1px solid #2066bc;
    height: 40px;
    margin: 0;
}

.bs-docs-sidenav {
    width: 170px;
    margin: 0 0 0 0;
    padding: 0;
    background: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
    box-shadow: 0 1px 4px rgba(0,0,0,.065);
    text-align:left;
}
.bs-docs-sidenav {
    width: auto;
    margin-bottom: 20px;
}
.bs-docs-sidenav.affix {
    position: static;
    width: auto;
    top: 0;
}
.bs-docs-sidenav > li > a {
    display: block;
    width: 142px;
    margin: 0 0 2px;
    padding: 8px 14px;
	cursor: pointer;
	background-color: #F5F5F5;
	background-repeat: no-repeat;
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); /* Safari 5.1+, Chrome 10+ */
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6); /* Firefox 3.6 */
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); /* Opera 11.10+ */
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); /* CSS3 Compliant */
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	line-height: normal;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); /* Safari 4 */
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); /* Firefox 3.6 */
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear background-image;
	-moz-transition: 0.1s linear background-image;
	-o-transition: 0.1s linear background-image;
	transition: 0.1s linear background-image;
	text-align: left;
	overflow: visible; /* the overflow property removes extra width in IE */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0); /* IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	vertical-align: middle;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

.bs-docs-sidenav.small > li > a {
    width: 132px;
    margin: 0 0 2px 8px;
}

.bs-docs-sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
    border: 1px solid #ccc;
	border-color: #0044CC #0044CC #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	background-color: #006DCC;
	background-image: -moz-linear-gradient(top, #0088CC, #0044CC); /* Firefox 3.6 */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0044CC));
    background-image: -webkit-linear-gradient(top, #0088CC, #0044CC); /* Safari 5.1+, Chrome 10+ */
	background-image: -o-linear-gradient(top, #0088CC, #0044CC); /* Opera 11.10+ */
    background-image: linear-gradient(to bottom, #0088CC, #0044CC);/* CSS3 Compliant */
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#0044CC', GradientType=0); /* IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}

/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
    background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
    opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
    opacity: 1;
}

.dash-menu {
	padding: 20px 0 0 0;
	margin:0;
	text-align:left;
}

.dash-menu > li > a {
	display:block;
    width: 100%;
    padding: 30px 14px;
}

.dash-menu > li {
    display: inline-block;
    margin: 0 0 20px 0;
	cursor: pointer;
	background-color: #F5F5F5;
	background-repeat: no-repeat;
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); /* Safari 5.1+, Chrome 10+ */
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6); /* Firefox 3.6 */
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); /* Opera 11.10+ */
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6); /* CSS3 Compliant */
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	line-height: normal;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); /* Safari 4 */
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); /* Firefox 3.6 */
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear background-image;
	-moz-transition: 0.1s linear background-image;
	-o-transition: 0.1s linear background-image;
	transition: 0.1s linear background-image;
	text-align: left;
	overflow: visible; /* the overflow property removes extra width in IE */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0); /* IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	vertical-align: middle;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font-size:15px;
	line-height:25px;
    width: 48%;
}

.dash-menu > li a {
	font-size:15px;
	line-height:25px;
	color: #333;
}

.dash-menu > li a:hover, .dash-menu > li a:hover i {
	text-decoration:none;
	color:#0044CC;
}

.dash-menu > li:nth-child(even) {
	position: relative;
    float: right;
}

.dash-menu > li:nth-child(odd) {
	position: relative;
    float: left;
}

.dash-menu > li a i {
	font-size:25px;
	line-height:28px;
	margin: 0 30px 0 15px;
	color: #333;
}

[data-role="acknowledge-input"] .add-on i {
    position: relative;
    top: 2px;
}

.badge-small {
	font-size: 9.5px;
	line-height: 11px;
}

.active > a > span.badge-small {
	background-color:#999999;
}

.uneditable-input, .uneditable-textarea {
	text-align:left;
}

.dialog_1 {
	display:none;
	overflow:hidden;
}
.dialog_1 .well {
	text-align:right;
}
#sideBar {
	width:170px;
}

li .btn-group {
	padding: 0 10px 4px 10px;
}

.btn-toolbar2 >.btn-group + .btn-group {
	margin-left: -5px;
}

.btn-toolbar2 > .btn-group > .btn, .btn-toolbar2 > .btn-group > .dropdown-toggle{
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
}

.btn-toolbar2 > .btn-group:first-child > .btn, .btn-toolbar2 > .btn-group:first-child > .dropdown-toggle{
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;    
}

.btn-toolbar2 > .btn-group:last-child > .btn:last-child, .btn-toolbar2 > .btn-group:last-child > .dropdown-toggle:nth-last-child(2){
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;    
}

.control-group {
	border-bottom:1px solid #999;
	padding-bottom:10px;
}

.control-group .control-label {
	text-align:left;
	font-size:12px;
	font-weight:bold;
}

.control-group .controls input, 
.control-group .controls textarea,
.control-group .controls select,
.control-group .controls .uneditable-input, 
.control-group .controls .uneditable-textarea,
.control-group .controls .uneditable-select {
	font-size:12px;
}

.control-group .controls .uneditable-input, 
.control-group .controls .uneditable-textarea,
.control-group .controls .uneditable-select {
	background-color:#f1f1f1;
	border:1px solid #ccc;
}

#questions-order-div {
	display:none;	
}

.ui-datepicker {
	z-index: 1060 !important;;
}

.form-container {
	 min-height: 40px;
	 padding-top: 20px;
	 padding-right: 20px;
	 padding-left: 20px;
	 background-color: #fafafa;
	 border: 1px solid #d4d4d4;
	 -webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	         border-radius: 4px;
	 *zoom: 1;
	 -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	         box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-container .small_table {
	padding: 10px 20px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
	
}

.form-container table.display td {
	line-height:14px;
}

.qtip-rmg-blue.qtip-shadow {
	border: 1px solid #6d6d6d;
}

.qtip-rmg-blue .qtip-titlebar {
	background: none;
	background-color: #006DCC;
	background-image: -moz-linear-gradient(top, #0088CC, #0044CC); /* Firefox 3.6 */
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0044CC));
	background-image: -webkit-linear-gradient(top, #0088CC, #0044CC);
	background-image: -o-linear-gradient(top, #0088CC, #0044CC);
	background-image: linear-gradient(to bottom, #0088CC, #0044CC);
	-pie-background: linear-gradient(#0088CC, #0044CC);	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088CC', endColorstr='#0044CC', GradientType=0); /* IE8 */		
	background-repeat: repeat-x;
	-webkit-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 3px 2px rgba(255, 255, 255, 0.3);
	color: #ffffff;	
}

.qtip-rmg-blue .qtip-icon {
	border-color: #444;
}

.qtip-rmg-blue .qtip-content {
	background-color: #ffffff;
}

.qtip-rmg-blue .qtip-titlebar .ui-state-hover {
	border-color: #303030;
}

@media (min-width: 1500px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 1500px;
	}
	
	.span10 {
		width: 1290px;
	}
	
	.span3 {
		width: 170px;
	}	
	
	.dash-menu > li {
	    width: 30%;
	}

	.dash-menu > li:nth-child(3n+3) {
		position: relative;
	    float: right;
	}
	
	.dash-menu > li:nth-child(3n+2) {
		position: relative;
	    float: left;
		margin: 0 0 0 5%;
	}	
	
	.dash-menu > li:nth-child(3n+1) {
		position: relative;
	    float: left;
	}		
}

@media (min-width: 1200px) and (max-width: 1500px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 1200px;
	}
	
	.span10 {
		width: 990px;
	}
	
	.span3 {
		width: 170px;
	}	
	
	.dash-menu > li {
	    width: 48%;
	}

	.dash-menu > li:nth-child(even) {
		position: relative;
	    float: right;
	}
	
	.dash-menu > li:nth-child(odd) {
		position: relative;
	    float: left;
	}		
}

@media (min-width: 980px) and (max-width: 1199px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 980px;
	}
	
	.span10 {
		width: 770px;
	}
	
	.span3 {
		width: 170px;
	}	
	
	.dash-menu > li {
	    width: 48%;
	}

	.dash-menu > li:nth-child(even) {
		position: relative;
	    float: right;
	}
	
	.dash-menu > li:nth-child(odd) {
		position: relative;
	    float: left;
	}		
}

@media (min-width: 768px) and (max-width: 979px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 768px;
	}
	
	.span10 {
		width: 558px;
	}	
	
	.span3 {
		width: 170px;
	}
	
	.dash-menu > li {
	    width: 48%;
	}

	.dash-menu > li:nth-child(even) {
		position: relative;
	    float: right;
	}
	
	.dash-menu > li:nth-child(odd) {
		position: relative;
	    float: left;
	}			
}

@media (max-width: 767px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 100%;
	}
	
	.span10 {
		width: 80%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	    box-sizing: border-box;
	}	
	
	.span3 {
		width: 20%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	    box-sizing: border-box;
	}
	
	.dash-menu > li {
	    width: 48%;
	}

	.dash-menu > li:nth-child(even) {
		position: relative;
	    float: right;
	}
	
	.dash-menu > li:nth-child(odd) {
		position: relative;
	    float: left;
	}	
}