<script type="text/javascript">
	$(document).ready(function(){
		$('#warning-btn').button();
	});
	
	function browser_aware(){
		$("#browser_dialog").dialog('open');
	}
</script>
<!--[if lte ie 9]>
<style>
	.qtip-rmg-blue .qtip-titlebar {
		width: 235px;
	}
</style>
<a class="index_third browser" href="javascript:browser_aware();">
</a>
<![endif]-->