<div class="header_bar">
	<div class="header-unit" style="margin-top:20px;">
		<div class="text">
			<h1>Welcome to RMG Surveys</h1>
			<p>We are devoting this site to improving relations between ourselves and you the Tenants.</p>
		</div>
		<div class="actions">
			<i class="icon-coffee"></i>
		</div>
		<div class="text" style="margin-top:20px;">
			<!--<a id="warning-btn" class="btn btn-success btn-large" href="/survey/abc123/">
				<i class="icon-eye-open icon-2x pull-left"></i>
				<div class="pull-right" style="margin-left:8px;">
					Click here to view
					<br>
					our Surveys
				</div>
			</a>-->
		</div>
	</div>
</div>