<script type="text/javascript">
	$(document).ready(function(){
		$("#qs").questionnaire({
			"values" : "survey.php?a=q",
			"survey_id" : "<?=$_REQUEST["survey_id"]?>",
			"serial_ref" : "<?=$_REQUEST["serial_ref"]?>"
		});

		$('#exit_button').button();
	});
</script>
<div class="main ui-corner-bottom">
	<div class="content">
		<div id="qs"></div>
	</div>
</div>