<table id="letter_row" class="template_include">
	<thead>
		<tr>
			<th width="10%">
				<div id="letter_table_all" data-toggle="tooltip" data-title="Select All" data-tooltip="Select all residents on all pages">
				</div>
			</th>
			<th width="12%">Tenant Ref.</th>
			<th width="43%">Tenant Name</th>
			<th width="30%">Send?</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="dataTables_empty">Loading</td>
			<td class="dataTables_empty">Data</td>
			<td class="dataTables_empty">From</td>
			<td class="dataTables_empty">Server</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th>&nbsp;</th>
			<th><input type="text" value="Search Ref." class="search_init" /></th>
			<th><input type="text" value="Search Name" class="search_init" /></th>
			<th>&nbsp;</th>
		</tr>
	</tfoot>
</table>