<table id="order_row" class="template_include">
	<thead>
		<tr>
			<th width="8%">No.</th>
			<th width="92%">Question</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="dataTables_empty">Loading</td>
			<td class="dataTables_empty">Data From Server</td>
		</tr>
	</tbody>
</table>