<thead>
	<tr>
		<th>&nbsp;</th>
		<th>Brand</th>
		<th>Property Ref.</th>
		<th>Property Name</th>
		<th>&nbsp;</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td class="dataTables_empty"></td>
		<td class="dataTables_empty">Loading</td>
		<td class="dataTables_empty">Data</td>
		<td class="dataTables_empty">From</td>
		<td class="dataTables_empty">Server</td>
	</tr>
</tbody>