<thead>
	<tr>
		<th>&nbsp;</th>
		<th>Name</th>
		<th>&nbsp;</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td class="dataTables_empty">Loading</td>
		<td class="dataTables_empty">Data From</td>
		<td class="dataTables_empty">Server</td>
	</tr>
</tbody>