<table id="answer_row" class="template_include">
	<thead>
		<tr>
			<th width="28%">Tenant Ref.</th>
			<th width="48%">Tenant Name</th>
			<th width="14%">Score</th>
			<th width="10%">As %</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="dataTables_empty">Loading</td>
			<td class="dataTables_empty">Data </td>
			<td class="dataTables_empty">From</td>
			<td class="dataTables_empty">Server</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th><input type="text" value="Search Ref." class="search_init" /></th>
			<th><input type="text" value="Search Name" class="search_init" /></th>
			<th></th>
			<th></th>
		</tr>
	</tfoot>
</table>