<table id="survey_row" class="template_include">
	<thead>
		<tr>
			<th width="54%">Name</th>
			<th width="34%">Email</th>
			<th width="12%">Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="dataTables_empty">Loading</td>
			<td class="dataTables_empty">Data From</td>
			<td class="dataTables_empty">Server</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th><input type="text" value="Search Name" class="search_init" /></th>
			<th><input type="text" value="Search Email" class="search_init" /></th>
			<th></th>
		</tr>
	</tfoot>
</table>